# SHARKS CLEANING - ATTACKS TO MEN SINCE 2001

In [1]:
'''
%pip install ipython
%pip install seaborn
'''

'\n%pip install ipython\n%pip install seaborn\n'

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt
import seaborn as sns

%matplotlib inline

In [3]:
sharks = pd.read_csv('../DATA/attacks.csv', encoding = "ISO-8859-1")

In [4]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
sharks_ori_shape = sharks.shape
sharks_ori_shape

(25723, 24)

In [6]:
sharks.tail(20)  # podemos observar que al final de nuestro dataframe, hay muchas filas que no tienen ningún dato

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sharks = sharks.dropna(how = 'all') # eliminamos las filas que tengan todo nulo

In [8]:
sharks.shape, sharks_ori_shape # tamaño del df ahora vs al inicio

((8703, 24), (25723, 24))

In [9]:
sharks # vemos que todavía tenemos muchas filas con muchos nulos

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sharks = sharks[sharks.isna().sum(axis=1) < 10]

In [11]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [12]:
sharks.shape, sharks_ori_shape # tamaño del df ahora vs al inicio

((6295, 24), (25723, 24))

In [13]:
sharks.info() # vemos las columnas con su tipo de variable y los no nulos que tienen cada una

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6295 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6294 non-null   object
 1   Date                    6295 non-null   object
 2   Year                    6293 non-null   float64
 3   Type                    6291 non-null   object
 4   Country                 6246 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6090 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6269 non-null   object
 12  Fatal (Y/N)             5759 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3462 non-null   object
 15  Investigator or Source  6279 non-null   object
 16  pdf                     6295 non-null   object
 17  href formula            6294 non-null   object
 18  href                    6295 non-null   object
 19  Case Number.1           6295 non-null   object
 20  Case Number.2           6295 non-null   object
 21  original order          6295 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [14]:
# Las columnas Unnamed: 22 y Unnamed: 23 tendríamos que rellenarlas con datos, en este caso, al ser de tipo Object, con un String 'desconocido'

In [15]:
sharks[['Unnamed: 22', 'Unnamed: 23']] = sharks[['Unnamed: 22', 'Unnamed: 23']].fillna('Unknown')

In [16]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 0]

Case Number                  1
Year                         2
Type                         4
Country                     49
Area                       448
Location                   534
Activity                   538
Name                       205
Sex                        559
Age                       2824
Injury                      26
Fatal (Y/N)                536
Time                      3347
Species                   2833
Investigator or Source      16
href formula                 1
dtype: int64

In [17]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 1000]

Age         2824
Time        3347
Species     2833
dtype: int64

In [18]:
# Mirando los valores no nulos, deberíamos mirar la columna 'age', la columna 'time' y la columna 'species'

In [19]:
sharks[['Age','Time','Species ']]

      Age           Time         Species
0      57          18h00      White shark
1      11  14h00  -15h00              NaN
2      48          07h45              NaN
3     NaN            NaN        2 m shark
4     NaN            NaN  Tiger shark, 3m
...   ...            ...              ...
6297  NaN            NaN              NaN
6298  NaN            NaN              NaN
6299  NaN            NaN              NaN
6300  NaN            NaN              NaN
6301   15            NaN              NaN

[6295 rows x 3 columns]

In [20]:
# La columna species tiene un espacio, sería conveniente mirar todos los nombres de columnas y cambiarlos para que tuvieran el mismo formato

In [21]:
columns_names = sharks.columns.values
columns_names

array(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'Case Number.1', 'Case Number.2',
       'original order', 'Unnamed: 22', 'Unnamed: 23'], dtype=object)

In [22]:
sharks.rename(columns={'Case Number': 'caseNumber', 'Date': 'date', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area',
       'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex', 'Age': 'age', 'Injury': 'injury',
       'Fatal (Y/N)': 'fatal(y/n)', 'Time': 'time', 'Species ': 'species', 'Investigator or Source': 'investigatorOrSource', 'pdf': 'pdf',
       'href formula': 'hrefFormula', 'href': 'href', 'Case Number.1': 'caseNumber1', 'Case Number.2': 'caseNumber2',
       'original order': 'originalOrder', 'Unnamed: 22': 'unnamed22', 'Unnamed: 23': 'unnamed23'}, inplace=True)

In [23]:
print(sharks['year'].unique())

[2018. 2017.   nan 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008.
 2007. 2006. 2005. 2004. 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996.
 1995. 1984. 1994. 1993. 1992. 1991. 1990. 1989. 1969. 1988. 1987. 1986.
 1985. 1983. 1982. 1981. 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973.
 1972. 1971. 1970. 1968. 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960.
 1959. 1958. 1957. 1956. 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948.
 1848. 1947. 1946. 1945. 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937.
 1936. 1935. 1934. 1933. 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925.
 1924. 1923. 1922. 1921. 1920. 1919. 1918. 1917. 1916. 1915. 1914. 1913.
 1912. 1911. 1910. 1909. 1908. 1907. 1906. 1905. 1904. 1903. 1902. 1901.
 1900. 1899. 1898. 1897. 1896. 1895. 1894. 1893. 1892. 1891. 1890. 1889.
 1888. 1887. 1886. 1885. 1884. 1883. 1882. 1881. 1880. 1879. 1878. 1877.
 1876. 1875. 1874. 1873. 1872. 1871. 1870. 1869. 1868. 1867. 1866. 1865.
 1864. 1863. 1862. 1861. 1860. 1859. 1858. 1857. 1856. 1855. 1853. 1852.
 1851. 1850. 1849. 1847. 1846. 1845. 1844. 1842. 1841. 1840. 1839. 1837.
 1836. 1835. 1834. 1832. 1831. 1830. 1829. 1828. 1827. 1826. 1825. 1822.
 1819. 1818. 1817. 1816. 1815. 1812. 1811. 1810. 1808. 1807. 1805. 1804.
 1803. 1801. 1800. 1797. 1792. 1791. 1788. 1787. 1786. 1785. 1784. 1783.
 1780. 1779. 1776. 1771. 1767. 1764. 1758. 1753. 1751. 1749. 1755. 1748.
 1742. 1738. 1733. 1723. 1721. 1703. 1700. 1642. 1637. 1617. 1595. 1580.
 1555. 1554. 1543.  500.   77.    5.    0.]

In [24]:
print(sharks['sex'].unique())

['F' 'M' nan 'M ' 'lli' 'N' '.']

In [25]:
sharks.shape, sharks_ori_shape # tamaño del df ahora vs al inicio

((6295, 24), (25723, 24))

In [26]:
indexNames = sharks[ sharks['year'] < 2001 ].index # índices de los ataques antes de 2001
sharks.drop(indexNames, inplace=True) # quitamos de nuestro dataframe los índices que hemos hallado previamente
indexNames = sharks[ sharks['sex'] == 'F' ].index # índices de los ataques a mujeres
sharks.drop(indexNames, inplace=True) # quitamos de nuestro dataframe los índices que hemos hallado previamente
indexNames = sharks[ sharks['sex'] == 'lli' ].index # índices de los ataques a otros
sharks.drop(indexNames, inplace=True) # quitamos de nuestro dataframe los índices que hemos hallado previamente

In [27]:
sharks = sharks[sharks['year'].notna()]
sharks = sharks[sharks['sex'].notna()]

In [28]:
sharks.sex = sharks.sex.str.replace('M ', 'M') # para poner todos los datos de género con el mismo formato

In [29]:
print(sharks['year'].unique())

[2018. 2017. 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008. 2007.
 2006. 2005. 2004. 2003. 2002. 2001.]

In [30]:
print(sharks['sex'].unique())

['M']

In [31]:
sharks.shape, sharks_ori_shape # tamaño del df solo con los datos de los ataques a hombres desde 2001 vs al inicio

((1558, 24), (25723, 24))

In [32]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 0]

type                      2
country                   2
area                     67
location                 71
activity                 52
name                      9
age                     347
injury                    1
fatal(y/n)              114
time                    428
species                 528
investigatorOrSource      5
dtype: int64

In [33]:
print(sharks['type'].unique())

['Invalid' 'Unprovoked' 'Provoked' 'Questionable' nan 'Boating' 'Boat'
 'Sea Disaster' 'Boatomg']

In [34]:
sharks.type = sharks.type.str.replace('Boating', 'Boat')
sharks.type = sharks.type.str.replace('Boatomg', 'Boat')
sharks.type = sharks.type.str.replace('Boat', 'Boating')

In [35]:
print(sharks['type'].unique())

['Invalid' 'Unprovoked' 'Provoked' 'Questionable' nan 'Boating'
 'Sea Disaster']

In [36]:
display(sharks[sharks['type'].isnull()]) # para ver qué ocurre con los valores nulos de type

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
85,2017.09.15.a,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0,Unknown,Unknown
382,2015.07.27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0,Unknown,Unknown

In [37]:
sharks.loc[85,'type'] = ['Unprovoked']
sharks.loc[382,'type'] = ['Unprovoked']

In [38]:
print(sharks['country'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'ECUADOR' 'NEW CALEDONIA' 'MALAYSIA'
 nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA' 'SOLOMON ISLANDS'
 'JAPAN' 'ST HELENA, British overseas territory' 'REUNION'
 'FRENCH POLYNESIA' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'PHILIPPINES'
 'INDONESIA' 'CHINA' 'COLUMBIA' 'EGYPT' 'CAPE VERDE' 'Fiji'
 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'SCOTLAND' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'DOMINICAN REPUBLIC' 'KENYA' 'RUSSIA' 'TURKS & CAICOS'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'TONGA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'SOMALIA' 'NEVIS' 'CROATIA' 'PANAMA'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'BELIZE' 'Sierra Leone'
 'ATLANTIC OCEAN' 'ST. MAARTIN' 'Seychelles' 'LIBERIA' 'MEXICO '
 'VENEZUELA' 'VANUATU' ' TONGA' 'URUGUAY' 'INDIA' 'MICRONESIA']

In [39]:
sharks['country'] = sharks['country'].str.lower()

In [40]:
display(sharks[sharks['country'].isnull()])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,NaN,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,Unknown,Unknown
525,2014.08.00,Aug-2014,2014.0,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,Shark involvement prior to death not confirmed,NaN,NaN,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,Unknown,Unknown

In [41]:
sharks.loc[62,'country'] = ['Unknown']
sharks.loc[525,'country'] = ['Unknown']

In [42]:
sharks[['name']] = sharks[['name']].fillna('Unknown')

In [43]:
print(sharks['age'].unique())

['48' nan '18' '52' '15' '12' '32' '10' '21' '30' '60' '33' '29' '54' '34'
 '41' '37' '56' '19' '25' '69' '38' '35' '45' '14' '40s' '28' '20' '24'
 '26' '22' '7' '31' '17' '13' '42' '40' '50' '46' '82' '73' '68' '16' '39'
 '58' 'Teen' '55' '57' '47' '61' '65' '36' '43' '60s' '9' '49' '72' '59'
 '11' '27' '64' '23' '71' '44' '62' '6' '63' '70' '18 months' '53' '50s'
 '8' '51' 'teen' '66' '77' '74' '3' '28 & 26' '30s' '5' '86' '12 or 13'
 '46 & 34' 'Teens' '84' '\xa0 ' ' ' '30 or 36' '6½' '21 & ?' '75'
 '33 or 37' 'mid-30s']

In [44]:
sharks[['age']] = sharks[['age']].fillna('-1')

In [45]:
sharks.age = sharks.age.str.replace('40s', '40')
sharks.age = sharks.age.str.replace('Teen', '15')
sharks.age = sharks.age.str.replace('60s', '60')
sharks.age = sharks.age.str.replace('18 months', '0')
sharks.age = sharks.age.str.replace('50s', '50')
sharks.age = sharks.age.str.replace('teen', '15')
sharks.age = sharks.age.str.replace('28 & 26', '27')
sharks.age = sharks.age.str.replace('30s', '30')
sharks.age = sharks.age.str.replace('46 & 34', '40')
sharks.age = sharks.age.str.replace('15s', '15')
sharks.age = sharks.age.str.replace('\xa0 ', '-1')
sharks.age = sharks.age.str.replace('30 or 36', '33')
sharks.age = sharks.age.str.replace('6½', '6')
sharks.age = sharks.age.str.replace('21 & ?', '21')
sharks.age = sharks.age.str.replace('33 or 37', '35')
sharks.age = sharks.age.str.replace('mid-30', '35')
sharks.age = sharks.age.str.replace('12 or 13', '12')

In [46]:
sharks.age = sharks.age.str.replace(' ', '-1')

In [47]:
print(sharks['age'].unique())

['48' '-1' '18' '52' '15' '12' '32' '10' '21' '30' '60' '33' '29' '54'
 '34' '41' '37' '56' '19' '25' '69' '38' '35' '45' '14' '40' '28' '20'
 '24' '26' '22' '7' '31' '17' '13' '42' '50' '46' '82' '73' '68' '16' '39'
 '58' '55' '57' '47' '61' '65' '36' '43' '9' '49' '72' '59' '11' '27' '64'
 '23' '71' '44' '62' '6' '63' '70' '0' '53' '8' '51' '66' '77' '74' '3'
 '5' '86' '84' '21?' '75']

In [48]:
display(sharks[sharks['age'] == '21?'])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
1925,2001.08.12,12-Aug-2001,2001.0,Unprovoked,thailand,Rayong Province,Laem Mae Pim Beach,Fell off banana boat,O. Jaimaung & friend,M,21?,Legs bitten,N,NaN,3 m [10'] shark,O. Jaimuang,2001.08.12-Jaimuang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.08.12,2001.08.12,4378.0,Unknown,Unknown

In [49]:
sharks.loc[1925,'age'] = ['21']

In [50]:
print(sharks['age'].unique())

['48' '-1' '18' '52' '15' '12' '32' '10' '21' '30' '60' '33' '29' '54'
 '34' '41' '37' '56' '19' '25' '69' '38' '35' '45' '14' '40' '28' '20'
 '24' '26' '22' '7' '31' '17' '13' '42' '50' '46' '82' '73' '68' '16' '39'
 '58' '55' '57' '47' '61' '65' '36' '43' '9' '49' '72' '59' '11' '27' '64'
 '23' '71' '44' '62' '6' '63' '70' '0' '53' '8' '51' '66' '77' '74' '3'
 '5' '86' '84' '75']

In [51]:
display(sharks[sharks['injury'].isnull()])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
1270,2008.04.20.a,20-Apr-2008,2008.0,Unprovoked,australia,New South Wales,Crescent Head,NaN,Jamie Adlington,M,-1,NaN,UNKNOWN,NaN,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,5033.0,Unknown,Unknown

In [52]:
sharks[['injury']] = sharks[['injury']].fillna('Unknown')

In [53]:
display(sharks[sharks['investigatorOrSource'].isnull()])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
119,2017.07.14.a,14-Jul-2017,2017.0,Unprovoked,australia,Western Australia,Floreat Beach,Surfing,male,M,-1,"Minor injury, grazed by shark",N,11h45,NaN,NaN,2017.07.14.a-Floreat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.14.a,2017.07.14.a,6184.0,Unknown,Unknown
290,2016.04.07.b,07-Apr-2016,2016.0,Unprovoked,usa,Florida,"Florida Keys, Monroe County",Fishing,Jonathan Lester,M,34,Left hand bitten,N,NaN,5' to 6' shark,NaN,2016.04.07.b-Lester.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.07.b,2016.04.07.b,6013.0,Unknown,Unknown
382,2015.07.27,27-Jul-2015,2015.0,Unprovoked,australia,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0,Unknown,Unknown
631,2013.08.31.b,31-Aug-2013,2013.0,Unprovoked,bahamas,NaN,Freetown Beach,Spearfishing,Bryan Collins,M,-1,Lower left leg bitten,N,NaN,Blacktip shark,NaN,2013.08.31.b-Collins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.08.31.b,2013.08.31.b,5672.0,Unknown,Unknown
1242,2008.06.28.a,28-Jun-2008,2008.0,Unprovoked,south africa,Western Cape Province,Mossel Bay,Surf skiing,Kobus Maritz,M,46,"No injury, ski bitten",N,14h00,"White shark, 2m",NaN,2008.06.28.a-Maritz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.06.28.a,2008.06.28.a,5061.0,Unknown,Unknown

In [54]:
sharks[['investigatorOrSource']] = sharks[['investigatorOrSource']].fillna('Unknown')

In [55]:
print(sharks['fatal(y/n)'].unique())

['N' 'Y' nan 'M' '2017' 'UNKNOWN']

In [56]:
display(sharks[sharks['fatal(y/n)'] == 'UNKNOWN'])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
1270,2008.04.20.a,20-Apr-2008,2008.0,Unprovoked,australia,New South Wales,Crescent Head,NaN,Jamie Adlington,M,-1,Unknown,UNKNOWN,NaN,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,5033.0,Unknown,Unknown

In [57]:
sharks.loc[1270,'fatal(y/n)'] = ['N']

In [58]:
display(sharks[sharks['fatal(y/n)'] == '2017'])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
786,2012.06.10,10-Jun-2012,2012.0,Provoked,italy,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.06.10,2012.06.10,5517.0,Unknown,Unknown

In [59]:
sharks.loc[786,'fatal(y/n)'] = ['N']

In [60]:
display(sharks[sharks['fatal(y/n)'] == 'M'])

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
285,2016.04.18.b,18-Apr-2016,2016.0,Provoked,french polynesia,Tuamotos,Makemo Atoll,Spearfishing,Hoata Iotua,M,22,Laceration to knee by speared shark PROVOKED I...,M,Morning,"Grey reef shark, 2 m","TNTV News, 4/19/2016",2016.04.18.b-Iotua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.18.b,2016.04.18.b,6018.0,Unknown,Unknown

In [61]:
sharks.loc[285,'fatal(y/n)'] = ['N']

In [62]:
fatalInjuries = (sharks[sharks['fatal(y/n)'].isnull()]) 
fatalInjuries.head(10)

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,unnamed22,unnamed23
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,brazil,Pernambuco,Piedade,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN,NaN,"Globo, 4/16/2018",2018.04.15.c-deMelo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.c,2018.04.15.c,6276.0,Unknown,Unknown
76,2017.10.01,01-Oct-2017,2017.0,Invalid,south africa,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,M,31,FATAL,NaN,NaN,Death may have been due to drowning,"All Africa, 10/11/2017",2017.10.01-Fick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.01,2017.10.01,6227.0,Unknown,Unknown
79,2017.09.24.b,24-Sep-2017,2017.0,Invalid,usa,New York,Rockaway,Surfing,Michah Behrend,M,33,"Lacerations to right ankle, foot & toe",NaN,15h30,Questionable,"S. Curatolo-Wageman, GSAF",2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.24.b,2017.09.24.b,6224.0,Unknown,Unknown
84,2017.09.15.b,15-Sep-2017,2017.0,Invalid,south africa,Western Cape Province,Hawston,Scuba Diving,Wayon Love,M,25,"FATAL, but death was probably due to drowning",NaN,Afternoon,NaN,"Ground Up, 9/20/2017",2017.09.15.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.b,2017.09.15.b,6219.0,Unknown,Unknown
107,2017.07.29.c,29-Jul-2017,2017.0,Invalid,usa,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Johnny Simatacolos,M,10,Abrasions and cuts to sole of foot,NaN,15h00,A small shark,"C. Creswell, GSAF",2017.07.29.c-Simatacolos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.29.c,2017.07.29.c,6196.0,Unknown,Unknown
125,2017.06.29,29-Jun-2017,2017.0,Invalid,usa,South Carolina,Wrightsville Beach,Fishing,male,M,-1,"Arm injured by hook, not by a shark",NaN,19h30,No shark invovlement,"C. Creswell, GSAF",2017.06.29-Wrightsville.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.29,2017.06.29,6178.0,Unknown,Unknown
153,2017.04.20,20-Apr-2017,2017.0,Invalid,usa,South Carolina,Georgetown County,Swimming,male,M,-1,Laceration & puncture wounds to left foot,NaN,08h50,Shark involvement not confirmed,"C. Creswell, GSAF",2017.04.20-PawleysIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.04.20,2017.04.20,6150.0,Unknown,Unknown
159,2017.04.12.a,12-Apr-2017,2017.0,Invalid,south africa,KwaZulu-Natal,Protea Banks,Scuba Diving,Leopold Mairhuber,M,68,"Fatal, coroner unable to determine if the dive...",NaN,NaN,Shark involvement prior to death not confirmed,"E. Ritter, GSAF",2017.04.12.a-Mairhuber.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.04.12.a,2017.04.12.a,6144.0,Unknown,Unknown
189,2017.01.03,03-Jan-2017,2017.0,Invalid,australia,New South Wales,Merimbula,Wading,Mitchell Collins,M,20,Minor injuries to foot & toes,NaN,18h00,Shark involvement not confirmed,"Illawarra Mercury, 1/7/2017",2017.01.03-Collins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.03,2017.01.03,6114.0,Unknown,Unknown
195,2016.12.11.a,11-Dec-2016,2016.0,Invalid,usa,Florida,"New Smyrna Beach, Volusia County",Surfing,Shane Garthwait,M,19,Cuts to right ankle & foot,NaN,Afternoon,Shark involvement not confirmed,"News Journal, 12/15/2016",2016.12.11.a-Garthwait.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.12.11.a,2016.12.11.a,6108.0,Unknown,Unknown

In [63]:
fatalInjuries.loc[76,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[84,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[159,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[437,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[525,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[437:570,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[660:688,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[763,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[874,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[890,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[967:1044,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1093,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1136:1212,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1240,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1272,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1301,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1381:1407,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1433:1499,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1563,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1606,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1696,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1799,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1866:1879,'fatal(y/n)'] = 'Y'
fatalInjuries.loc[1941:1947,'fatal(y/n)'] = 'Y'

In [64]:
fatalInjuries[['fatal(y/n)']] = fatalInjuries[['fatal(y/n)']].fillna('N') # los que no han sido mortales lo indicamos con N

In [65]:
mortalAttacksIndex = fatalInjuries[fatalInjuries['fatal(y/n)'] == 'Y' ].index
notMortalAttacksIndex = fatalInjuries[fatalInjuries['fatal(y/n)'] == 'N' ].index # con esto hayamos los indices de Y y N de fatalInjuries

In [66]:
sharks.loc[mortalAttacksIndex, 'fatal(y/n)'] = 'Y'
sharks.loc[notMortalAttacksIndex, 'fatal(y/n)'] = 'N' # sustituimos en el dataframe original los nulos de fatal con lo hallado previamente

In [67]:
sharks['fatal(y/n)'] = sharks['fatal(y/n)'].str.replace('Y', 'True')
sharks['fatal(y/n)'] = sharks['fatal(y/n)'].str.replace('N', 'False')

In [68]:
print(sharks['fatal(y/n)'].unique())

['False' 'True']

In [69]:
print(sharks['caseNumber'].unique())

['2018.06.09' '2018.06.08' '2018.06.04' ... '2001.01.24.R' '2001.01.09'
 '2001.01.06']

In [70]:
'''
for i,row in sharks.iterrows():
    print(i, row['caseNumber'])
'''

"\nfor i,row in sharks.iterrows():\n    print(i, row['caseNumber'])\n"

In [71]:
sharks.caseNumber = sharks.caseNumber.str.replace('.b', '')
sharks.caseNumber = sharks.caseNumber.str.replace('.a', '')
sharks.caseNumber = sharks.caseNumber.str.replace('.R', '')
sharks.caseNumber = sharks.caseNumber.str.replace('.c', '')
sharks.caseNumber = sharks.caseNumber.str.replace('.d', '')
sharks.caseNumber = sharks.caseNumber.str.replace('.e', '')

In [72]:
sharks.loc[847,'caseNumber'] = ['2011.10.29']
sharks.loc[882,'caseNumber'] = ['2011.08.17']
sharks.loc[1135,'caseNumber'] = ['2009.04.17']
sharks.loc[1346,'caseNumber'] = ['2007.08.19']
sharks.loc[370,'caseNumber'] = ['2015.09.01']
sharks.loc[504,'caseNumber'] = ['2014.09.01']
sharks.loc[525,'caseNumber'] = ['2014.08.01']
sharks.loc[588,'caseNumber'] = ['2014.01.01']
sharks.loc[802,'caseNumber'] = ['2012.04.01']
sharks.loc[1024,'caseNumber'] = ['2010.06.01']
sharks.loc[1187,'caseNumber'] = ['2008.12.01']
sharks.loc[1210,'caseNumber'] = ['2008.09.01']
sharks.loc[1239,'caseNumber'] = ['2008.07.01']
sharks.loc[1298,'caseNumber'] = ['2008.10.01']
sharks.loc[1299,'caseNumber'] = ['2008.08.01']
sharks.loc[1314,'caseNumber'] = ['2007.11.01']
sharks.loc[1403,'caseNumber'] = ['2007.02.01']
sharks.loc[1448,'caseNumber'] = ['2006.08.01']
sharks.loc[1709,'caseNumber'] = ['2004.01.01']
sharks.loc[1724,'caseNumber'] = ['2003.11.01']
sharks.loc[1748,'caseNumber'] = ['2003.09.01']
sharks.loc[1760,'caseNumber'] = ['2003.07.01']
sharks.loc[1761,'caseNumber'] = ['2003.07.01']
sharks.loc[1762,'caseNumber'] = ['2003.07.01']
sharks.loc[1814,'caseNumber'] = ['2002.11.01']
sharks.loc[1938,'caseNumber'] = ['2001.07.01']
sharks.loc[1951,'caseNumber'] = ['2001.05.01']

In [73]:
'''
for i,row in sharks.iterrows():
    print(i, row['date'])
'''

"\nfor i,row in sharks.iterrows():\n    print(i, row['date'])\n"

In [74]:
sharks.date = sharks.date.str.replace('Reported ', '')
sharks.loc[37,'date'] = ['09.Mar.2018']
sharks.loc[38,'date'] = ['09.Mar.2018']
sharks.loc[131,'date'] = ['05.Jun.2017']
sharks.loc[248,'date'] = ['14.Jul.2016']
sharks.loc[304,'date'] = ['19.Feb.2016']
sharks.loc[370,'date'] = ['01.Sep.2015']
sharks.loc[423,'date'] = ['20.May.2015']
sharks.loc[504,'date'] = ['01.Sep.2014']
sharks.loc[525,'date'] = ['01.Aug.2014']
sharks.loc[534,'date'] = ['09.Jul.2014']
sharks.loc[535,'date'] = ['05.Jul.2014']
sharks.loc[536,'date'] = ['05.Jul.2014']
sharks.loc[537,'date'] = ['03.Jul.2014']
sharks.loc[588,'date'] = ['01.Jan.2014']
sharks.loc[619,'date'] = ['25.Sep.2013']
sharks.loc[620,'date'] = ['21.Sep.2013']
sharks.loc[621,'date'] = ['21.Sep.2013']
sharks.loc[622,'date'] = ['14.Sep.2013']
sharks.loc[625,'date'] = ['07.Sep.2013']
sharks.loc[626,'date'] = ['07.Sep.2013']
sharks.loc[627,'date'] = ['02.Sep.2013']
sharks.loc[628,'date'] = ['01.Sep.2013']
sharks.loc[629,'date'] = ['01.Sep.2013']
sharks.loc[630,'date'] = ['01.Sep.2013']
sharks.loc[636,'date'] = ['25.Aug.2013']
sharks.loc[637,'date'] = ['18.Aug.2013']
sharks.loc[643,'date'] = ['05.Aug.2013']
sharks.loc[645,'date'] = ['30.Jul.2013']
sharks.loc[648,'date'] = ['29.Jul.2013']
sharks.loc[767,'date'] = ['07.Jul.2012']
sharks.loc[802,'date'] = ['01.Apr.2012']
sharks.loc[847,'date'] = ['29.Oct.2011']
sharks.loc[885,'date'] = ['16.Aug.2011']
sharks.loc[888,'date'] = ['11.Aug.2011']
sharks.loc[987,'date'] = ['13.Sep.2010']
sharks.loc[990,'date'] = ['04.Sep.2010']
sharks.loc[1024,'date'] = ['01.Jun.2010']
sharks.loc[1035,'date'] = ['27.Mar.2010']
sharks.loc[1036,'date'] = ['19.Feb.2010']
sharks.loc[1102,'date'] = ['31.Jul.2009']
sharks.loc[1187,'date'] = ['01.Dec.2008']
sharks.loc[1210,'date'] = ['01.Sep.2008']
sharks.loc[1239,'date'] = ['01.Jul.2008']
sharks.loc[1292,'date'] = ['30.Jan.2008']
sharks.loc[1298,'date'] = ['01.Oct.2008']
sharks.loc[1299,'date'] = ['01.Aug.2008']
sharks.loc[1314,'date'] = ['01.Nov.2007']
sharks.loc[1357,'date'] = ['19.Jul.2007']
sharks.loc[1358,'date'] = ['19.Jul.2007']
sharks.loc[1403,'date'] = ['01.Feb.2007']
sharks.loc[1448,'date'] = ['01.Aug.2006']
sharks.loc[1462,'date'] = ['09.Jul.2006']
sharks.loc[1466,'date'] = ['30.Jun.2006']
sharks.loc[1485,'date'] = ['23.Apr.2006']
sharks.loc[1493,'date'] = ['28.Mar.2006']
sharks.loc[1544,'date'] = ['27.Sep.2005']
sharks.loc[1562,'date'] = ['06.Aug.2005']
sharks.loc[1563,'date'] = ['01.Aug.2005']
sharks.loc[1573,'date'] = ['27.Jun.2005']
sharks.loc[1602,'date'] = ['27.Mar.2005']
sharks.loc[1709,'date'] = ['01.Jan.2004']
sharks.loc[1724,'date'] = ['01.Nov.2003']
sharks.loc[1748,'date'] = ['01.Sep.2003']
sharks.loc[1760,'date'] = ['01.Jul.2003']
sharks.loc[1761,'date'] = ['01.Jul.2003']
sharks.loc[1762,'date'] = ['01.Jul.2003']
sharks.loc[1814,'date'] = ['01.Nov.2002']
sharks.loc[1938,'date'] = ['01.Jul.2001']
sharks.loc[1951,'date'] = ['01.May.2001']
sharks.loc[1977,'date'] = ['24.Jan.2001']

In [75]:
sharks[['area']] = sharks[['area']].fillna('Unknown')
sharks[['location']] = sharks[['location']].fillna('Unknown')
sharks[['activity']] = sharks[['activity']].fillna('Unknown')
sharks[['species']] = sharks[['species']].fillna('Unknown')

In [76]:
'''
for i,row in sharks.iterrows():
    print(i, row['time'])
'''

"\nfor i,row in sharks.iterrows():\n    print(i, row['time'])\n"

In [77]:
sharks.time = sharks.time.str.replace('h', '.')
sharks.time = sharks.time.str.replace('Late afternoon', '17.00')
sharks.time = sharks.time.str.replace('Morning', '07.00')
sharks.time = sharks.time.str.replace('Afternoon', '19.00')
sharks.time = sharks.time.str.replace('After noon', '23.00')
sharks.time = sharks.time.str.replace('Early afternoon', '16.00')
sharks.time = sharks.time.str.replace('0830', '08.30')
sharks.time = sharks.time.str.replace('Just before noon', '23.00')
sharks.time = sharks.time.str.replace('Early morning', '06.00')
sharks.time = sharks.time.str.replace('Midday', '12.00')
sharks.time = sharks.time.str.replace('Dusk', '18.00')
sharks.time = sharks.time.str.replace('Sunset', '20.00')
sharks.time = sharks.time.str.replace('"Evening"', '20.00')
sharks.time = sharks.time.str.replace('Just before sundown', '05.00')
sharks.time = sharks.time.str.replace('--', '-1.00')
sharks.time = sharks.time.str.replace('Morning', '07.00')
sharks.time = sharks.time.str.replace('Early Morning', '06.00')
sharks.time = sharks.time.str.replace('Late morning', '11.00')
sharks.time = sharks.time.str.replace('P.M.', '17.00')
sharks.time = sharks.time.str.replace('8:04 pm', '20.00')
sharks.time = sharks.time.str.replace('Nig.t', '22.00')
sharks.time = sharks.time.str.replace('Midnig.t', '00.00')
sharks.time = sharks.time.str.replace('09.30 / 10.00', '10.00')
sharks.time = sharks.time.str.replace('10.45-11.15', '11.00')
sharks.time = sharks.time.str.replace('Evening', '20.00')
sharks.time = sharks.time.str.replace('Sometime between 06.00 & 08.oo', '07.00')
sharks.time = sharks.time.str.replace('07.00 - 08.00', '07.00')
sharks.time = sharks.time.str.replace('18.15-18.30', '18.15')
sharks.time = sharks.time.str.replace('09.00 - 09.30', '09.00')
sharks.time = sharks.time.str.replace('Dawn', '06.00')
sharks.time = sharks.time.str.replace('AM', '06.00')
sharks.time = sharks.time.str.replace('Lunc.time', '13.00')
sharks.time = sharks.time.str.replace('0500', '05.00')
sharks.time = sharks.time.str.replace('Before 07.00', '07.00')
sharks.time = sharks.time.str.replace('10.00 00.00 11.00', '10.00')
sharks.time = sharks.time.str.replace('"Just before 11.00"', '11.00')
sharks.time = sharks.time.str.replace('11.115', '11.15')
sharks.time = sharks.time.str.replace('Between 05.00 and 08.00', '07.00')
sharks.time = sharks.time.str.replace('17.00 or 17.40', '17.00')
sharks.time = sharks.time.str.replace('>08.00', '08.00')
sharks.time = sharks.time.str.replace('Just after 12.00', '12.00')
sharks.time = sharks.time.str.replace('Early 07.00', '07.00')
sharks.time = sharks.time.str.replace('S.ortly after midnig.t', '00.00')
sharks.time = sharks.time.str.replace('\xa0 ', '-1.00')
sharks.time = sharks.time.str.replace('09.00 -10.00', '09.00')
sharks.time = sharks.time.str.replace('20.45 (20.00)', '21.00')

In [78]:
sharks[['time']] = sharks[['time']].fillna('-1.00')
sharks.time = sharks.time.str.replace('20.45 (20.00)', '21.00')
sharks.time = sharks.time.str.replace('1600', '16.00')
sharks.time = sharks.time.str.replace(' ', '-1.00')

In [79]:
sharks.time = sharks.time.str.replace('07.00-1.00', '07.00')
sharks.time = sharks.time.str.replace('9.00', '09.00')

In [80]:
horaMal = sharks[sharks.time == '009.00'].index
sharks.loc[horaMal, 'time'] = '09.00'
horaMal2 = sharks[sharks.time == '109.00'].index
sharks.loc[horaMal2, 'time'] = '09.00'
horaMal3 = sharks[sharks.time == '20.45-1.00(20.00)'].index
sharks.loc[horaMal3, 'time'] = '20.00'
horaMal4 = sharks[sharks.time == '10.00-1.00-1.00-1.0011.00'].index
sharks.loc[horaMal4, 'time'] = '11.00'

In [81]:
print(sharks['time'].unique())

['07.45' '-1.00' '17.00' '14.00' '07.00' '15.00' '08.15' '11.00' '10.30'
 '10.40' '16.50' '09.30' '09.00' '21.50' '09.40' '08.00' '18.00' '17.35'
 '15.30' '07.30' '22.00' '16.00' '15.01' '13.45' '23.30' '14.30' '18.30'
 '16.30' '18.45' '06.00' '10.00' '10.44' '13.30' '10.45' '11.20' '11.45'
 '19.30' '12.00' '08.30' '17.10' '11.15' '08.50' '10.20' '13.20' '12.30'
 '02.00' '11.30' '17.30' '13.00' '10.43' '23.00' '15.15' '15.40' '19.05'
 '16.20' '14.34' '15.25' '14.55' '15.45' '15.49' '00.00' '10.15' '18.15'
 '04.00' '14.50' '13.50' '19.20' '10.25' '16.45' '15.52' '06.15' '14.40'
 '19.45' '08.45' '20.00' '12.10' '18.05' '11.41' '12.25' '17.51' '10.50'
 '14.15' '09.45' '06.45' '05.00' '03.30' '06.30' '17.20' '11.10' '17.50'
 '17.01' '09.57' '17.58' '20.30' '15.19' '10.55' '15.55' '16.05' '14.10'
 '12.45' '12.50' '14.45' '08.20' '13.24' '11.40' '08.10' '07.56' '17.17'
 '16.35' '09.05' '07.15' '14.20' '19.28' '12.38' '15.50' '05.45' '13.25'
 '09.50' '12.20' '13.26' '09.11' '12.15' '17.45' '18.20' '15.35' '13.51'
 '15.20' '08.05' '12.40' '10.35' '19.15' '15.44' '21.00' '09.35' '10.27'
 '10.16' '13.15' '09.20' '13.55' '18.50' '15.53' '20.15' '12.39' '16.40'
 '07.05' '13.05' '11.50' '17.55' '22.30' '12.05' '16.10' '06.10' '16.15'
 '07.08' '11.05' '12.02' '16.14' '17.11' '00.30' '10.07' '13.53' '13.23'
 '02.30' '13.40' '14.35' '17.15' '06.47' '18.40' '13.14' '12.34' '11.53'
 '12.46']

In [82]:
nanCols = sharks.isna().sum()
nanCols[nanCols > 0] # ya no tenemos nulos

Series([], dtype: int64)

In [83]:
sharks['caseNumber1'] = sharks['caseNumber']
sharks['caseNumber2'] = sharks['caseNumber'] # para poder poner los caseNumber en formato date

In [84]:
sharks['unnamed22'] = sharks.index
sharks = sharks.rename(columns = {'unnamed22': 'originalIndex'}) # con esto guardamos nuestros índices originales en una de las columnas vacías

In [85]:
sharks.reset_index(drop = True) # reseteamos los índices

,caseNumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatorOrSource,pdf,hrefFormula,href,caseNumber1,caseNumber2,originalOrder,originalIndex,unnamed23
0,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,False,07.45,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,2,Unknown
1,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,False,-1.00,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,3,Unknown
2,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,False,-1.00,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,4,Unknown
3,2018.06.03,03-Jun-2018,2018.0,Unprovoked,australia,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,-1,"No injury, board bitten",False,-1.00,Unknown,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03,2018.06.03,6298.0,5,Unknown
4,2018.06.03,03-Jun-2018,2018.0,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,True,17.00,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03,2018.06.03,6297.0,6,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553,2001.03.03,03-Mar-2001,2001.0,Unprovoked,brazil,Pernambuco,"Boa Viagem Beach, Recife",Swimming,Carlo Alberto Brasileiro,M,20,FATAL,True,-1.00,Unknown,"JC, 3/7/2001; Orlando Sentinel, 3/9/2001, p.A13",2001.03.03-Brasileiro.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.03.03,2001.03.03,4331.0,1972,Unknown
1554,2001.02.04,04-Feb-2001,2001.0,Unprovoked,australia,New South Wales,Broome Head,Surfing,Mark Butler,M,40,Leg bitten,False,16.15,"Bronze whaler shark, 2.5 m [8.25'] k","Daily Dispatch, 2/6/2001",2001.02.04-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.02.04,2001.02.04,4327.0,1976,Unknown
1555,2001.01.24,24.Jan.2001,2001.0,Boating,australia,New South Wales,South West Rocks,Kayaking,Mark Elkinton,M,35,"No injury, shark rammed & bit kayak",False,-1.00,5 m shark,"Daily Telegraph 1/24/2001, p.19",2001.01.24.R-Elkinton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.01.24,2001.01.24,4326.0,1977,Unknown
1556,2001.01.09,09-Jan-2001,2001.0,Unprovoked,usa,California,"Sunset Cliffs, San Diego",Surfing,Larry McCash,M,-1,"Foot bruised, board dinged",False,-1.00,"1.8 m to 2.4 m [6' to 8'] ""black finned shark""",M. Sanders,2001.01.09-McCash.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.01.09,2001.01.09,4323.0,1980,Unknown
1557,2001.01.06,06-Jan-2001,2001.0,Boating,new zealand,North Island,Sandy Bay/Whananaki,Kayaking,Dr. Michael Hogan,M,-1,"No injury, kayak bitten",False,-1.00,White shark,C. Duffy,2001.01.06-MikeHogan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.01.06,2001.01.06,4322.0,1981,Unknown

In [86]:
sharks = sharks.rename(columns = {'unnamed23': 'hemisphere'})

In [87]:
sharks = sharks.astype({'time': float}, errors = 'raise')

In [88]:
sharks.caseNumber = sharks.caseNumber.str.replace('.', '/')
sharks['caseNumber'] = pd.to_datetime(sharks['caseNumber'], yearfirst = True)

In [89]:
sharks.date = sharks.date.str.replace('-', '/')
sharks['date'] = pd.to_datetime(sharks['date'], dayfirst = True)

In [90]:
sharks = sharks.astype({'age': int}, errors = 'raise')

In [105]:
sharks = sharks.astype({'year': int}, errors = 'raise')

In [91]:
sharks.caseNumber1 = sharks.caseNumber1.str.replace('.', '/')
sharks['caseNumber1'] = pd.to_datetime(sharks['caseNumber1'], yearfirst = True)

In [92]:
sharks.caseNumber2 = sharks.caseNumber2.str.replace('.', '/')
sharks['caseNumber2'] = pd.to_datetime(sharks['caseNumber2'], yearfirst = True)

In [93]:
sharks['fatal(y/n)'] = sharks['fatal(y/n)'].map({'True': True, 'False': False})

In [117]:
indexWhite = sharks[sharks['species'].str.contains('white')].index
sharks.loc[indexWhite, 'species'] = 'White'
indexWhite2 = sharks[sharks['species'].str.contains('White')].index
sharks.loc[indexWhite2, 'species'] = 'White'
indexTiger = sharks[sharks['species'].str.contains('Tiger')].index
sharks.loc[indexTiger, 'species'] = 'Tiger'
indexTiger2 = sharks[sharks['species'].str.contains('tiger')].index
sharks.loc[indexTiger2, 'species'] = 'Tiger'
indexBull = sharks[sharks['species'].str.contains('Bull')].index
sharks.loc[indexBull, 'species'] = 'Bull'
indexBull2 = sharks[sharks['species'].str.contains('bull')].index
sharks.loc[indexBull2, 'species'] = 'Bull'
indexGreyReef = sharks[sharks['species'].str.contains('Grey reef')].index
sharks.loc[indexGreyReef, 'species'] = 'Grey reef'
indexGreyReef2 = sharks[sharks['species'].str.contains('grey reef')].index
sharks.loc[indexGreyReef2, 'species'] = 'Grey reef'
indexLemon = sharks[sharks['species'].str.contains('Lemon')].index
sharks.loc[indexLemon, 'species'] = 'Lemon'
indexLemon2 = sharks[sharks['species'].str.contains('lemon')].index
sharks.loc[indexLemon2, 'species'] = 'Lemon'
indexNurse = sharks[sharks['species'].str.contains('nurse')].index
sharks.loc[indexNurse, 'species'] = 'Nurse'
indexNurse2 = sharks[sharks['species'].str.contains('Nurse')].index
sharks.loc[indexNurse2, 'species'] = 'Nurse'
indexWobbegong = sharks[sharks['species'].str.contains('Wobbegong')].index
sharks.loc[indexWobbegong, 'species'] = 'Wobbegong'
indexWobbegong2 = sharks[sharks['species'].str.contains('wobbegong')].index
sharks.loc[indexWobbegong2, 'species'] = 'Wobbegong'
indexBlacktip = sharks[sharks['species'].str.contains('Blacktip')].index
sharks.loc[indexBlacktip, 'species'] = 'Blacktip'
indexBlacktip2 = sharks[sharks['species'].str.contains('blacktip')].index
sharks.loc[indexBlacktip2, 'species'] = 'Blacktip'
indexCaribbeanReef = sharks[sharks['species'].str.contains('Caribbean reef')].index
sharks.loc[indexCaribbeanReef, 'species'] = 'Caribbean reef'
indexCaribbeanReef2 = sharks[sharks['species'].str.contains('caribbean reef')].index
sharks.loc[indexCaribbeanReef2, 'species'] = 'Caribbean reef'
indexDogfish = sharks[sharks['species'].str.contains('Dogfish')].index
sharks.loc[indexDogfish, 'species'] = 'Dogfish'
indexDogfish2 = sharks[sharks['species'].str.contains('dogfish')].index
sharks.loc[indexDogfish2, 'species'] = 'Dogfish'
indexBlue = sharks[sharks['species'].str.contains('Blue')].index
sharks.loc[indexBlue, 'species'] = 'Blue'
indexBlue2 = sharks[sharks['species'].str.contains('blue')].index
sharks.loc[indexBlue2, 'species'] = 'Blue'
indexMako = sharks[sharks['species'].str.contains('Mako shark')].index
sharks.loc[indexMako, 'species'] = 'Mako shark'
indexMako2 = sharks[sharks['species'].str.contains('mako shark')].index
sharks.loc[indexMako2, 'species'] = 'Mako shark'
indexBronze = sharks[sharks['species'].str.contains('Bronze whaler')].index
sharks.loc[indexBronze, 'species'] = 'Bronze whaler'
indexBronze2 = sharks[sharks['species'].str.contains('bronze whaler')].index
sharks.loc[indexBronze2, 'species'] = 'Bronze whaler'

In [ ]:
Galapagos 
Cookiecutter 
Spinner 
Porbeagle
Broadnose sevengill 
Hammerhead
Sandbar
reef
Raggedtooth
Salmon
Port Jackson 
Sevengill
Zambesi

In [118]:
print(sharks['species'].unique())

['Unknown' '2 m shark' 'Tiger' 'Lemon' 'Bull' 'Grey reef'
 'Invalid incident' 'Shark involvement not confirmed' 'Questionable'
 '3 m shark' 'White' "6' shark" 'Wobbegong' '3.5 m shark' '1.8 m shark'
 'Blacktip' 'Galapagos shark?' '2m shark' 'small shark' 'Nurse'
 'Cookiecutter shark' 'Spinner shark, 4 to 5 feet'
 'Death may have been due to drowning' "5' shark" "4' to 5' shark"
 'Porbeagle, 1.5 m' "5' to 6' shark" "4' shark" 'A small shark'
 'No shark invovlement ' '3m shark, probably a smooth hound' "8' shark"
 "9' shark" 'Shark involvement prior to death not confirmed' "10' shark"
 'Caribbean reef' 'Broadnose sevengill shark, 1.5 m' " 6' to 8' shark"
 "3' to 4' shark" 'Blue' 'reef shark, 1m' 'Dogfish' "3' to 5' shark"
 "3' shark"
 "Said to involve an 8' shark but more likely damage caused by debris"
 'Mako shark' 'Bronze whaler' 'No shark involvement' "Reef shark, 5'"
 'Galapagos shark' "Spinner shark, 7'" "Spinner shark, 5'"
 'Hammerhead sp.' 'juvenile shark' 'Hammerhead shark' 'Hammerhead shark.'
 "4' shark?" "Hammerhead shark. 6' to 7'" 'Shark involvement not cofirmed'
 "6' to 7' shark" '1m to 1.2 m shark' '3- to 4-foot shark'
 '3.5 to 4 m shark' '2 m to  3 m shark' '5 m shark' '1.5 m shark'
 'Raggedtooth shark, 1.3 m' '"A small shark"' 'Goblin shark' "2' shark"
 "12' to 14' shark" "8' to 10' shark" "7' shark" "4' to 6' shark"
 'reef shark' "4' tp 5' shark" '1.8 metre shark' "6' to 8' shark"
 " Sandbar shark, 3' to 4'" '3m shark' 'reef shark?'
 ' Raggedtooth shark, 2m' 'Invalid' '7-gill shark?' '1m shark'
 '7-gill shark' 'Salmon shark' 'a small shark'
 'shark involvement not confirmed' 'Raggedtooth shark, 1.5 m'
 '"small sharks"' '2.5 m shark' "2' to 3' shark" "Porbeagle shark, 7'"
 "14' to 18'shark" "15' shark" 'Spinner shark' "7' to 8' shark "
 'Port Jackson shark, 1m' "10' to 12' shark" '2 to 2.5 m shark'
 "6' shark, possibly a blactip or spinner shark" '4 m shark'
 "Sevengill shark, 6' to 8'" 'Zambesi shark' "Sandbar shark, 8'"
 'reef shark, 1.5m' "1' to 2' shark" '1 m shark' "Porbeagle shark, 8' "
 'Shark involvement prior to death was not confirmed'
 'A small spinner shark' 'Angel shark' "14' shark" '2 m to 3 m shark'
 "Spinner shark, 6'" 'Thought to involve a juvenile hammerhead shark'
 'Zambesi shark, 2m ' 'Thresher shark' 'Spurdog'
 'Thought to involve a Bronze whale shark, 2m'
 'Shark involvement probable, but not confirmed' '80 kg shark'
 "5' to 8' shark" 'Raggedtooth shark'
 'Thought to involve a cookie cutter shark' '2.6 m shark'
 'Dusky shark, 2m' 'Broadnose sevengill shark' 'Raggedtooth shark, 2m'
 'Zambesi shark?' ' reef shark, 1.8m' "+3' shark"
 "2' to 3' juvenile shark" "3'  shark" "2'  shark" "2' to 3' reef shark"
 'Starry smoothhound shark, 1m' "4.5 to 5' shark"
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed'
 'Shark involvement not confirmed; thought to be a barracuda bite'
 "1.5' to 2' shark" "2.5' shark" "Goblin shark, 4.2'"
 'Possibly a hammerhead shark' '"a small shark"'
 'Not a shark attack; it was a hoax' '2.27 m shark' '1.5 to 2 m shark'
 'Gray reef shark' 'Possibly a spinner shark' 'Sand shark' ' '
 "3' small spotted catshark, Scyliorhinus canicula" '2.4 m shark'
 '24" to 30" shark' '2.5 to 3 m shark' '2 to 3 m shark'
 'Raggedtooth shark, 150-kg' "1' to 4' shark" "3' to 3.5' shark"
 'Angel shark, 1.2m ' 'Raggedtooth shark, 2.5 m to 3 m '
 '3 m, 600-kg shark' "12' to 18' shark" "12' shark"
 'Said to involve a 1.5 m shark' 'Raggedtooth shark, 2.5m '
 "2 m [6.75'] shark, 200-kg shark T" "1.8 m [6'] shark"
 "3.5 m [11.5']shark" "[4.5' to 5'] shark"
 'Unknown, but it was reported that a shark tooth was recovered from the wound'
 '"small shark"' "2 m [6.75'] copper shark" "4 m [13'] shark"
 "3 m [10'] shark" "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']"
 'Shark involvement questionable' "1.2 m [4'] shark"
 '2 sharks, 4.5 m & 3 m ' "0.9 m to 1.5 m [3' to 5'] shark"
 "2.4 m to 3.7 m [8' to 12'] shark" 'small sharks' 'Questionable Incident'
 "2 m [6.75'] sevengill  shark" '60 cm [23.6"] blind or brown shark'
 'Shark involvement doubtful' "Raggedtooth shark, 3.5 m [11.5'] "
 "1.2 m to 1.5 m [4' to 5'] shark" 'Unidentified species'
 "1.5 m to 1.8 m [5' to 6'] shark" "8' great hammerhead shark"
 "106 cm [3.5']  shark" "3.7 m to 4.3 m [12' to 14'] shark" '"sand shark"'
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark"
 "0.9 m to 1.2 m [3' to 4'] shark" 'A \x93small\x94 shark'
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee'
 'Species unidentified'
 'Shark involvement not confirmed, injury may be due to a stingray'
 "3.5' to 4.5' shark" "3.5' to 4' shark" "2.4 m [8'] shark"
 "3 m to 3.7 m [10' to 12'] shark"
 "1' to 2' hammerhead or bonnethed shark"
 "0.9 m  to 1.2 m [3' to 4'] shark"
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand"
 '\xa0 ' "1.5 to 2.5 m [5' to 8.25'] copper shark" '1 m  shark'
 "2.1 m to 2.4 m [7' to 8'] shark" "0.9 m [3'] shark"
 "Spinner shark, 3' to 4' " 'Shark involvement prior to death unconfired'
 '1.5 m [5\'] "whaler shark"'
 'C. leucas tooth fragment recovered from kayak' 'Unidentified'
 'Questionable incident - shark bite may have precipitated drowning'
 "2' to 3.5' shark" "1.5 m [5'] shark" "0.9 m  [3'] shark"
 "1.2 m to 1.5 m [4.5' to 5'] shark"
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] "
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"']

In [97]:
sharks.shape, sharks_ori_shape # tamaño del df solo con los datos de los ataques a hombres desde 2001 vs al inicio

((1558, 24), (25723, 24))

In [106]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1558 entries, 2 to 1981
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   caseNumber            1558 non-null   datetime64[ns]
 1   date                  1558 non-null   datetime64[ns]
 2   year                  1558 non-null   int64
 3   type                  1558 non-null   object
 4   country               1558 non-null   object
 5   area                  1558 non-null   object
 6   location              1558 non-null   object
 7   activity              1558 non-null   object
 8   name                  1558 non-null   object
 9   sex                   1558 non-null   object
 10  age                   1558 non-null   int64
 11  injury                1558 non-null   object
 12  fatal(y/n)            1558 non-null   bool
 13  time                  1558 non-null   float64
 14  species               1558 non-null   object
 15  investigatorOrSource  1558 non-null   object
 16  pdf                   1558 non-null   object
 17  hrefFormula           1558 non-null   object
 18  href                  1558 non-null   object
 19  caseNumber1           1558 non-null   datetime64[ns]
 20  caseNumber2           1558 non-null   datetime64[ns]
 21  originalOrder         1558 non-null   float64
 22  originalIndex         1558 non-null   int64
 23  hemisphere            1558 non-null   object
dtypes: bool(1), datetime64[ns](4), float64(2), int64(3), object(14)
memory usage: 325.9+ KB

In [99]:
sharks.to_csv('../DATA/sharks_clean.csv', sep=',', index=False)

In [100]:
#voy a estudiar los ataques de tiburos desde el año 2001 a 2018 (hasta donde tengo datos) a hombres